.container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
}

.email {
    position: relative;
    align-self: center;
    margin-left: 1rem;
    font-size: 1rem;
    z-index: 1;
}

.arrow_up {
    display: flex;
    margin-left: 90vw;
    justify-content: flex-end;
    margin-right: 2rem;
    position: absolute;
    z-index: 2;
}