.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav_item {
    margin: 0.2rem 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

.nav_item:hover {
    color: blue;
}